@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFCFDD;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./imagens/fundo.svg);
    background-blend-mode: color-dodge;
    font-family: 'Lora', serif;
}

main {
    margin-top: 50px;
    background-color: #ffff;
    height: 774px;
    width: 1041px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.login{
    display: flex;
    flex-direction: column;
    width: 758px;
   

}

.login input{
    border-radius: 50px;
    border: 1px solid #000;
    width: 758px;
    height: 88.31px;
}

.nomes{
    font-weight: 600;
    font-size: 40px;
    line-height: 23px;
    color: #6AAD71;
    
}

.prin{
    display: flex;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    justify-content: center;
    
}

.massa{
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 25px;
}

.massa a{
text-decoration: none;
color: #ffff;
font-size: 30px;
font-weight: 200;
line-height: 33px;
font-style: normal;

}

.massa01{
    background-color: #A84C68;
    width: 290px;
    height: 96px;
    border-radius: 40px;
    opacity: 0.7;
    border: 0;
}

.massa02{
    background-color: #F51F5F;
    width: 477px;
    height: 100px;
    border-radius: 40px;
    opacity: 0.5;
    border: 0;
}