*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.site{
    background-color: #FFCFDD;
}
.menu{
  
   background-color: #ffff;
}

.links{
display: flex;
justify-content: space-between;


}

 
.links ul{
display: flex;
align-items: center;
gap: 75px;
margin: 50px;

}
.logo img{
    margin-left: 50px;
    
}
.fundo img{
   
}

