* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFCFDD;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-top: 100px;
    background-color: #ffff;
    height: 765px;
    width: 1041px;
    left: 218px;
    top: 156px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.login{
    display: flex;
    flex-direction: column;
    width: 500px;
   

}
.massa{
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 200px;
}
.massa button{
    width: 1000px;
    height: 50px;
    border-radius: 40px;
    background-color: #F51F5F;
    

}

.massa a{
text-decoration: none;
font-size: 15px;
color: #ffff;

}